body {
    background-image: url('https://wallpaperset.com/w/full/f/3/3/180702.jpg#.ZF6hyIlqnVQ.link');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-page {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #353535;
    width: 80%;
    max-width: 500px;
    margin: 5% auto;
    padding: 2%;
}

label {
    position: relative;
    display: inline-block;
    height: 5px;
}

img {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 15%;
    height: 900%;
}

.line {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 1px;
    height: 40px;
    background-color: black;
}

.line-horizontal {
    width: 100%;
    max-width: 500px;
    height: 1px;
    background-color: white;
    margin-left: 0;
}

.user-input,
.password-input,
.confirm-password-input,
.username-input {
    background-color: white;
    border: 0;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: 10px 10px 20px 40px;
    padding: 2%;
}

input,
p,
button {
    font-family: sans-serif;
}

p,
button {
    font-size: 20px;
    font-weight: bold;
}

input {
    border-radius: 6px;
    border-width: 0;
    font-size: 30px;
    height: 30px;
    margin: 10px 10px 10px 23%;
    outline: none;
    width: 70%;
    max-width: 400px;
}

button {
    width: 80%;
    max-width: 400px;
    height: 50px;
    margin-left: 10%;
    border-radius: 10px;
    border-width: 0;
    color: white;
    cursor: pointer;
}

.sign-up {
    background-color: rgb(13, 192, 13);
    margin-top: 30px;
    margin-bottom: 10px;
}

.back {
    background-color: rgb(42, 71, 219);
}

.sign-up:hover {
    background-color: rgb(9, 225, 9);
}

.back:hover {
    background-color: rgb(0, 132, 255);
}

.sign-in {
    background-color: rgb(42, 71, 219);
    margin-bottom: 30px;
}

.sign-in:hover {
    background-color: rgb(0, 132, 255);
}

#no-account {
    margin-top: 5%;
    margin-left: 27%;
    color: white;
}